/* CSS Document */
body,
td,
th,
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
}

body {
    background-color: #fdfdfd;
/*    box-shadow: 0 0 100px white;*/
    width: 100%;
    margin: 0;
    position:relative;
    
/* ===== CSS VARIABLES ===== */
    --header-height: 61px;
    --filter-options-height: 48px;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3397db;
    outline: 2px solid orange;
    text-decoration: none;
}

a img {
    border: none 0 #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

.main-content {
    background-color: #f3f3f3;
    min-height: 100%;
}

.footer {
    box-sizing: border-box;
    background-color: #413645;
    color: #ccc;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}


/* ====================== Navigation ====================== */
nav {
    box-sizing: border-box;
    width: 100%;
    background-color: #252831;
    text-align: center;
    padding: 15px 5px;
}

nav h1 {
    margin: auto;
}

nav h1 a {
    color: #fff;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 5px;
    text-transform: uppercase;
}
nav h1 a:focus,
nav h1 a:hover {
    color: #ff9d00;
    outline: 2px solid white;
}

.breadcrumb {
    padding: 10px 20px 10px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    border-bottom: 1px solid #c1c1c1;
}

/* Display list items side by side */
.breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links insidse the list */
.breadcrumb li a {
    color: #0000d1;
    text-decoration: underline;
}

/* Add a color on mouse-over */
.breadcrumb li a:hover,
.breadcrumb li a:focus {
    color: #ff9d00;
    text-decoration: underline;   
    outline: none;
}
.breadcrumb li a:focus { 
    outline: 2px solid blue;
}


/* ====================== Map ====================== */
.map {
    height: 40vh; /*calc( (100vh - var(--header-height) - var(--filter-options-height)) / 2 ); */
    width: 100%;
    background-color: #ccc;
    border-bottom: 1px solid #c1c1c1;
}


/* ====================== Restaurant Filtering ====================== */
.filter-options {
    box-sizing: border-box;
    width: 100%;
    min-height: var(--filter-options-height);
    background-color: #53a2ff; /* #53a2ff; */
    display: grid;
    grid-template-rows: 48px;
    font-size: 16px;
/*    grid-auto-rows: 30px auto;*/
}

label[for="show-filters"] {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #8153ff; /* #53a2ff; */ /* #4e00ff; */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 5px 20px -2px, inset 0 -3px 20px -5px black;
    text-shadow:  0 0 3px black;
    border-bottom: 1px solid black;
}
label[for="show-filters"]:hover,
#show-filters:focus + label[for="show-filters"] {
    background-color: #ff9d00;
}

#show-filters:checked + label[for="show-filters"] {
    color: transparent; /*#c1c1c1;*/
    background-color: #643dad; /* #3d71ad; */ /* #3b00c3; */
    box-shadow: inset 0 5px 20px -1px black, inset 0 -3px 20px -5px white;
    text-shadow:  0 3px #c1c1c1;
}
#show-filters:checked + label[for="show-filters"]::selection {
    color: transparent; /*#c1c1c1;*/
}
#show-filters {
    position: absolute;
    left: -9999px;
}
#show-filters ~ :nth-child(n+3){
    display: none;
}
#show-filters:checked ~ :nth-child(n+3){
    display: block;
}
label[for="show-filters"] ~ label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 10px 19px;
    color: white;
    background-color: #8f53ff;
}

.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    padding: 10px 15px;
}
.filter-options select:hover,
.filter-options select:focus {
    background-color: orange;
    color: white;
    border: 2px solid #fff;
    font-size: 16px;
    font-weight: bold;
}
.filter-options option {
    font-size: 20px;
    letter-spacing: 0;
    background-color: white;
    color: black;
}


/* ====================== Restaurant Listing ====================== */
.restaurants-list {
    background-color: #d8d8d8;
    list-style: outside none none;
    margin: 0;
    padding: 0px 0 60px;
    text-align: center;
    display: grid;
    grid-gap: 20px;
    border-top: 1px solid black;
}

.restaurants-list li {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 380px;
    padding: 15px 15px 25px;
    border: 1px solid #ccc;
    width: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    text-align: left;
    box-shadow: 0 5px 10px;
}

.restaurant-header {
    position: relative;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.restaurants-list li h2 {
    box-sizing: border-box;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    padding: 15px 10px 15px;
    margin: 0;
    text-transform: uppercase;
    background-color: #aa0076;/*#560076;/*#aa0076;*/
    text-align: center;
/*    box-shadow: inset 0 5px 15px -5px white, inset 0 -5px 15px -5px white;*/
/*    border: 1px solid #9300ff;*/
    border-top: 1px solid black;
    border-radius: 0 0 10px 10px;
}

.restaurants-list p {
    margin: 0;
    font-size: 11pt;
    padding: 0 15px;
}

.restaurants-list p:first-of-type {
    font-size: 13pt;
    font-weight: bold;
}

.restaurants-list li a {
    background-color: #aa0076;
    background-image: linear-gradient(to top, transparent, #ff00b0);
    border-bottom: 3px solid #55003b;
    box-sizing: border-box;
    width: 100%;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.restaurants-list li a:visited {
    background-color: #000000;
    color: #dddddd;
}
.restaurants-list li a:hover,
.restaurants-list li a:focus {
    background-color: #ff9d00;
    background-image: none;
    color: white;
    border-bottom: 3px solid #b97200;
    outline: none;
/*    text-shadow: 0 0 1px black;*/
}

.restaurants-list li a:active {
    background-color: #6c004b; /*#9f6303;*/
    background-image: none;
    color: transparent;
    text-shadow: 0 1px #dddddd;
    transform: translateY(2px);
    border: 1px solid black;
    box-shadow: inset 0 2px 5px black, inset 0 -1px 3px -2px black;
}


/* ====================== Restaurant Details ====================== */
.inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.inside .main-content {
    margin-top: 106px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inside .map-container {
    width: 100%;
    height: 40vh;
    grid-column: 1/3;
}

.inside .map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

.inside .footer {
    width: 100%;
}

.inside .restaurant-name {
    background-color: #aa0076; /*#f18200;*/
    color: white;
    font-family: Arial,sans-serif;
    font-size: 18pt;
    letter-spacing: 0;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
    padding: 10px;
    border: 1px solid #5f0042;
    border-bottom: none;
}

.inside .restaurant-img {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-top: 1px solid #5f0042;
    border-bottom: none;
}

.inside .restaurant-address {
    font-size: 14pt;
    margin: 20px 0;
    padding: 16px;
    text-align: center;
}

.restaurant-cuisine {
    background-color: #333;
    color: #fff;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid black;
    border-top: none;
}

.restaurant-container,
.reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 35px 35px 35px;
    grid-column: 1/3;
}

.reviews-container {
    padding: 30px 35px 80px;
}

.reviews-container h2 {
    background-color: #aa0076;
    color: white; /*#f58500;*/
    font-family: Arial,sans-serif;
    font-size: 18pt;
    letter-spacing: 0;
    margin-bottom: 35px;
    line-height: 1.1;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f0042;
    margin-left: -35px;
    margin-right: -35px;
}

.reviews-list {
    display: grid;
    grid-gap: 25px;
    margin: 0;
    padding: 0;
}

.reviews-list li {
    background-color: #fff;
/*    border: 1px solid #848484;*/
    display: block;
    list-style-type: none;
    overflow: hidden;
    padding: 0 20px 20px;
    position: relative;
    box-shadow: 0 5px 10px;
}

.reviews-list li:last-child {
    margin-bottom: 0;
}

.reviews-list::after {
    display: block;
    content: "THE END";
    text-align: center;
    font-size: 12pt;
    box-sizing: border-box;
    padding-top: 70px;
}

.restaurant-hours {
    background-color: white;
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 16px;
    margin: auto;
}

.restaurant-hours th {
    color: white;
    background-color: black;
    text-align: left;
    padding: 5px 15px;
    border-bottom: 1px solid white;
}
.restaurant-hours tr:last-child th {
    border-bottom: 1px solid black;
}

.restaurant-hours td {
    color: #000;
    padding: 0 15px;
    border: 1px solid black;
}


/* ====================== Media Queries ====================== */
/*@media (max-width: 499px) {
    .restaurants-list li h2 {
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.59);
        margin: 0;
        padding: 20px;
        text-align: center;
        font-weight: bold;
    }
}*/
@media (min-width: 500px) {
    .restaurants-list {
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }
}
@media (min-width: 600px) {
    .inside .map-container {
        grid-column: 2/3;
        box-sizing: border-box;
        padding: 35px;
        padding-left: 0;
        height: 100%;
        border-bottom: 1px solid #d9d9d9;
/*        position: fixed;
        width: 50%;
        left: 50%;
        height: calc( (100vh) - 107px);
        box-sizing: border-box;
        padding: 35px;
        padding-left: 0;*/
    }
    
    .inside .map {
        box-sizing: border-box;
        border: 1px solid #000;
    }
    
    .inside .restaurant-container {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    
    .inside .reviews-container {
        grid-column: 1/3;
    }
    
    .inside .footer {

    }
}
@media (min-width: 750px) {
    .reviews-list  {
        grid-template-columns: 1fr 1fr;
    }
    
    .reviews-list::after {
        display: flex;
        justify-content: center;
        padding: 0;
        align-items: center;
    }
}
@media (min-width: 800px) {
    .restaurants-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1024px) {
    .restaurants-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    body {
        width: 1024px;
        margin: 0 auto;
        background-image: linear-gradient(to top, blue, #00001f);
        background-attachment: fixed;
        
        border-top: none;
        border-bottom: none;
    }
    
    body > header > nav {
        box-shadow: 0 0 20px #ffff75;
    }
    
    footer {
        border: 1px solid lightgray;
        border-top: none;
        border-bottom: none;
    }
        
    .inside header {
        width: 1024px;
    }
}